---
import statsData from '#/data/docs-stats.json';

export interface Props {
  type?: 'summary' | 'raw';
}

const { type = 'summary' } = Astro.props;
const linksData = statsData.links || {};
type KeyOfData = keyof typeof statsData.data;
---

{type === 'raw' && (
  <div class="docs-stats-table detail-table">
    <table>
      <thead>
        <tr>
          <th>项目</th>
          {statsData.categories.map((cat) => (
            <th title={cat.desc}>{cat.id}</th>
          ))}
        </tr>
      </thead>
      <tbody>
        {Object.entries(statsData.data).map(([projName, row]) => (
          <tr>
            <td>{projName}</td>
            {row.map((val, idx) => {
              const link = linksData[projName as KeyOfData]?.[idx];
              return (
                <td class={val ? 'text-green-400' : 'text-red-400'}>
                  {link ? <a href={link} class="text-inherit!" target="_blank" rel="noopener">{val ? '✓' : '✗'}</a> : (val ? '✓' : '✗')}
                </td>
              );
            })}
          </tr>
        ))}
      </tbody>
    </table>
  </div>
)}

{type === 'summary' && (
  <div class="docs-stats-table summary-table">
    <table>
      <thead>
        <tr>
          <th>编号</th>
          <th>内容类别</th>
          <th>出现次数</th>
          <th>出现频率</th>
          <th>缺失率</th>
        </tr>
      </thead>
      <tbody>
        {statsData.summary.map((row, idx) => (
          <tr>
            <td>{row.id}</td>
            <td>{row.name}</td>
            <td>{row.count}</td>
            <td>{(row.freq*100).toFixed(4)}%</td>
            <td>{(row.missing * 100).toFixed(4)}%</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
)}
